

.header{
    background-color: #4B5D61;
    padding: 20px 0;
    min-height: 10vh;
}
.list{
    list-style: none;
}

.an-active{
    color: #D4E06F !important;
    border-bottom: solid 1px #D4E06F;
}

.form__input{
    border-radius: 5px;
    background-color: transparent;
    color: #FFFFFF;

}
